{% extends 'dentistry/base.html' %}
{% block content %}
{% load static %}


<!-- About Start -->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="about-img rounded h-100">
                    <img src="{% static 'img/О нас.jpg' %}" class="img-fluid rounded mt-4 h-100 w-100"
                         style="object-fit: cover;" alt="">
                    <div class="about-exp"><span>10 лет дарим вам возможность дарить улыбки</span></div>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                <div class="about-item">
                    <h4 class="text-primary text-uppercase">О нас</h4>
                    <h1 class="display-3 mb-3">Качественное и безболезненое лечение.</h1>
                    <p class="mb-4">Активно развиваясь и совершенствуясь все эти годы, мы завоевали уважение тысяч
                        пациентов. В их глазах МИЛЕНА — надежная компания, которой можно доверить заботу о своем
                        здоровье и красоте. Ведь она объединила людей, чьё профессиональное кредо — абсолютная
                        ответственность за дело своей жизни.
                    </p>
                    <div class="bg-light rounded p-4 mb-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex">

                                    <div class="">
                                        <p class="mb-0">Мы предлагаем передовые технологии и антистресс-лечение от профессиональной команды докторов.

Если у вас был негативный опыт посещения клиник, вы боитесь стоматологов, то МИЛЕНА — это правильный выбор.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-light rounded p-4 mb-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex">

                                    <div class="">
                                        <p class="mb-0">мы — лучшие специалисты в эстетике зубов
 успешно спасаем "приговоренные" зубы
 используем супер материалы и не экономим на оборудовании
 у нас 3 микроскопа для максимально точного и качественного лечения
 мы добились 99% приживления имплантатов и используем топовые имплантационные системы с сертификатами
 используем только проверенные и надежные брекет-системы
 наши врачи- кандидаты наук и ответственные люди с огромным опытом
 мы стараемся, чтобы вы чувствовали комфортное посещение центра в каждой детали.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

 feature End -->
{% endblock %}