{% extends 'dentistry/base.html' %}

{% block content %}


<div class="col-12 mb-4">
    <div class="row justify-content-center mb-4">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p}}
                        <button type="submit" class="btn btn-primary text-center">
                            {% if object %}
                            Сохранить
                            {% else %}
                            Создать
                            {% endif %}
                        </button>
                        <a href="{% url 'dentistry:doctors_list' specialization_id %}" type="submit"
                                class="btn btn-primary text-center">
                            Отмена

                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}