{% extends 'dentistry/base.html' %}
{% load static %}
{% load tags %}
{% block content %}

<div class="container-fluid service bg-light overflow-hidden py-5" xmlns="http://www.w3.org/1999/html">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            {% if user|has_group:'Moderator' %}
            <a href="{% url 'dentistry:doctors_create' specialization_id %}"
               class="btn btn-primary rounded-pill d-inline-flex flex-shrink-0 py-2 px-4">Добавить врача</a>
            {% endif %}
            <h4 class="text-uppercase text-primary">Стоматологи - {{ service_name }}</h4>
            <h1 class="display-3 text-capitalize mb-3">Здесь вы можете выбрать врача к которому хотите попасть на
                прием</h1>
        </div>

        {% for object in object_list %}
        <div class="row gx-0 gy-4 align-items-center">
            <div class="col-lg-6 col-xl-10 wow fadeInLeft" data-wow-delay="0.2s">

                <div class="row">
                    <div class="col-12 text-center mb-4">
                        <div class="d-flex">
                            <div class="service-content text-end">
                                <a class="h4 d-inline-block mb-3">{{ object.doctors_name}}</a>
                                <p class="mb-0"><h6 class="mb-0 font-weight-normal">{{ object.description_doctor }}</h6></p>
                            </div>
                            <div class="ps-4 mb-4">
                                <img class="shadow" width="200" src="/media/{{ object.photo }}">
                            </div>
                        </div>
                        <a href="{% url 'appointment:create_appointment' object.id %}"
                           class="btn btn-primary rounded-pill d-inline-flex flex-shrink-0 py-2 px-4 mb-2">Записаться к
                            этому врачу</a>
                        {% if user|has_group:'Moderator' %}
                        <a href="{% url 'appointment:appointment_list' object.id %}"
                           class="btn btn-primary rounded-pill d-inline-flex flex-shrink-0 py-2 px-4 mb-2">Запись на
                            сегодня</a>
                        <a href="{% url 'dentistry:doctor_update' object.specialization_id object.id %}"
                           class="btn btn-primary rounded-pill d-inline-flex flex-shrink-0 py-2 px-4 mb-2">Редактировать
                            инф. о враче</a>
                        <a href="{% url 'dentistry:doctor_delete' object.specialization_id object.id %}"
                           class="btn btn-primary rounded-pill d-inline-flex flex-shrink-0 py-2 px-4 mb-2">Удалить
                            врача</a>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>


{% endfor %}
</div>
</div>
<!-- Service End -->
{% endblock %}