{% extends 'dentistry/base.html' %}
{% load tags %}
{% load static %}
{% block content %}
<!-- Service Start -->
<div class="container-fluid service bg-light overflow-hidden py-5" xmlns="http://www.w3.org/1999/html">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            {% if user|has_group:'Moderator' %}
            <a href="{% url 'dentistry:services_create' %}"
               class="btn btn-primary rounded-pill d-inline-flex flex-shrink-0 py-2 px-4">Создать услугу</a>
            {% endif %}
            <h4 class="text-uppercase text-primary">Наши услуги</h4>
            <h1 class="display-3 text-capitalize mb-3">Здесь вы можете выбрать какой вид услуг вас интересует</h1>
        </div>
        {% for object in object_list %}
        <div class="row gx-0 gy-4 align-items-center">
            <div class="col-lg-6 col-xl-10 wow fadeInLeft" data-wow-delay="0.2s">

                <div class=" rounded p-6 mb-4">
                    <div class="row">
                        <div class="col-12 text-center">

                            <div class="service-content text-center">
                                <a class="h4 d-inline-block mb-3">{{ object.service_name}}</a>
                                <p class="mb-0"><h6 class="mb-0 font-weight-normal">{{ object.description | slice:100 }}</h6></p>
                            </div>
                            <div class="ps-4 mb-4 text-center">
                                <img width="400" src="/media/{{ object.photo }}">
                            </div>

                            <a href="{% url 'dentistry:doctors_list' object.pk %}"
                               class="btn btn-primary rounded-pill d-inline-flex flex-shrink-0 py-2 px-4 mb-2">Запись на
                                прием</a>
                            {% if user|has_group:'Moderator' %}
                            <a href="{% url 'dentistry:services_update' object.pk %}"
                               class="btn btn-primary rounded-pill d-inline-flex flex-shrink-0 py-2 px-4 mb-2">Редактировать
                                услугу</a>
                            <a href="{% url 'dentistry:service_delete' object.pk %}"
                               class="btn btn-primary rounded-pill d-inline-flex flex-shrink-0 py-2 px-4 mb-2">Удалить
                                услугу</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>


    </div>
</div>
</div>
</div>
<!-- Service End -->
{% endblock %}